/*
  Oh Hello!

  These are some base styles so that our tutorial looks good.

  Let's go through the important bits real quick
*/
:root {
  --yellow: #e8c914;
  --orange: #f46524;
  --blue: #0099e8;
  --black: #22242e;
  --grey: #5d6382;
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: 'Open Sans', "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 10px;
  color: var(--yellow);
}

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: var(--black);
  color: var(--yellow);
  min-height: calc(100vh - 100px);
  margin: 50px;
  /* background: white; */
  letter-spacing: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

h1 {
  font-size: 50px;
  color: var(--yellow);
  margin-bottom: 2rem;
}

/* Each item in our grid will contain numbers */
.item {
  /* We center the contents of these items. You can also do this with flexbox too! */
  display: grid;
  justify-content: center;
  align-items: center;
  border: 4px solid rgba(0, 0, 0, 0.03);
  font-size: 36px;
  background-color: var(--grey);
}

.item p {
  margin: 0 0 5px 0;
}
